body{
    background-color: #E5E5E5;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    
/* About me */
.my_profession{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 18px 0;
} 

/* main_content */
.main_content{
    padding: 88px 88px 88px 88px;    
    width: 100%;
}

.main-content-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}

.my-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-descr{
    width: 525px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.about-me-cont{ 
    margin: 0 0 64px 0;
}

.project-cont{
    margin: 0 0 50px 0;
}
.project-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    padding-left: 16px;
}

.project-item>li>a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #005FFF;
}
.project-item>li>span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Work */

.work-cont{
    margin: 0 0 44px 0;
}

.work-palce{
    margin: 0 0 20px 0;
}

.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 12px 0;
}
.work-position>span{
    color:#6D9BF5;
}
.work-position-item{
    padding-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 525px;
}
.date-info{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 8px 0;
    padding: 0;
}
.date-info>span{
    color: #000000;
}

/* Education */
.education-univ{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    margin: 0 0 11px 0;
}

.education-info{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 12px 0;
}



/* sidbar */
.sidbar{
    width: 370px;
    background-color: #E0EBFE;
}

.photo{
    margin-top: 40px;
    
}

.contacts, .t-skills, .s-skills{
    margin: 48px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; 
    color: #161D2A;
    margin-bottom: 8px;
}

.contacts-type{    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
    padding-right: 8px;
}
.contacts-item{
    margin: 0;
}

.contacts-number{
    font-style: normal;  
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.contacts-email{
    font-style: normal; 
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979FF;
}

.skills-list{
    margin: 0;
    padding: 0 0 0 16px;
}

.skills-list>li{
    color: #6D9BF5;
}

.skills-list>li>span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}